header{
    background: #313537;
    color: white;
    padding: 1rem 0rem;
    text-align: center;
    width: 100%;
    margin:0rem;
}
nav{
    display:flex;
    padding: 0rem 2rem;
    justify-content: space-between;
}
nav div{
    display: flex;
    justify-content: space-evenly;
}
nav div a{
    color: white;
    text-decoration: none;
    padding: 1.4rem 2rem;
}
nav img {
    width: 7.6rem;
    height: 3.8rem;
    align-self: center;
    flex-shrink: 0;
}