#Events{
    display:flex;
    flex-direction: column;
    align-items: start;
    margin: 0rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    background-color: #518B50;
    height: 100vh;
    position: relative;
}
a{
    text-decoration: none;
}
#Events h1{
    align-self: center;
    color: white;
    font-size: 6rem;
    text-shadow: 0.1rem 0.2rem 0.5rem rgb(49, 49, 49);
}
#Events > div{
    margin-left: 10%;
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}
#Events > div > a{
    width: 33rem;
    height: 52rem;
    border-radius: 1rem;
    margin: 0rem 5rem;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
.eventCard{
    width: 33rem;
    height: 52rem;
    display: flex;
    padding-left: 7rem;
    padding-top: 15rem;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
}
.eventCard > h2{
    grid-area:7/3/9/10;
    color: black;
    font-size: 4rem;
    text-align: left;
    min-height: 10rem;
}
.eventCard > h3{
    margin-top: 1rem;
    font-style: normal;
    grid-area:10/3/12/10;
    color: black;
    font-size: 2rem;
    text-align: left;
}