main {
  position: relative;
  padding: 8vw 5vw 0vw 10vw;
  background-color: transparent;
  /* background-color: #50798b; */
  height: 100vh;
  display: flex;
  margin: 0px;
  box-sizing: border-box;
}

#main-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  justify-content: space-between;
  height: 65vh;
}
#main-animation > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 5rem;
}
#main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  text-align: left;
  width: 80%;
}
#main-content > h1 {
  text-align: left;
  font-size: 6.5rem;
}
#main-content > h1 > span {
  font-size: 6.5rem;
}
#main-content > h3 {
  font-size: 1.5vw;
}
#main-content > button {
  background-color: white;
  width: 30vw;
  align-self: flex-start;
  color: #50798b;
  border: none;
  border-radius: 2rem;
  font-size: 2.5rem;
  cursor: pointer;
  height: 10vh;
}
@media (max-width: 1000px) {
  main {
    flex-wrap: wrap;
    height: max-content;
    justify-content: center;
    padding: 5vh;
  }
  main > div {
    margin-top: 5vh;
  }
  #main-animation {
    margin-bottom: 5vh;
  }
  #main-content {
    h1,
    h3,
    button {
      margin-top: 5vh;
    }
  }
}
