footer nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 1rem 15rem 1rem 15rem;
    background: #313537;
    color: white;
}
footer .socials{
    width: 15rem;
}
footer .socials a img{
    width: 3rem;
    height: auto;
}