footer nav{
    display: flex;
    height: 5rem;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 1rem 15rem 1rem 15rem;
    background: #313537;
    color: white;
    position: relative;
}
footer .socials{
    width: 20rem;
}
footer .socials a img{
    height: 3rem;
    width: auto;
}