.EventsForm {
    background-color: #50798B;
    padding-top: 15rem;
    min-height: 100vh;
    width: 100%;
}
.EventsForm > h1 {
    color: white;
    text-align: center;
    margin: 2rem 0rem;
    font-size: 4rem;
    font-weight: 100;
}
form{
    display: flex;
    padding-bottom: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 2rem;
    color: white;
    min-height: 40rem;
}
form > div{
    display: block;
}
form > div > label{
    font-size: 2rem;
    margin: 0rem 3rem;
}
form > div > input{
    border-radius: 0.5rem;
    border: none;
    width: 30rem;
    height: 3rem;
    padding: .3rem 0rem .3rem 1rem;
}
form > div > textarea{
    border-radius: 0.5rem;
    border: none;
    margin: 1rem;
    padding: 1rem;
}
.datetime{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.datetime > div{
    margin: auto 3rem;
}
.datetime > div > label{
    margin: auto 2rem;
}
.datetime > div > input{
    border-radius: 0.5rem;
    border: none;
    width: 12rem;
    height: 3rem;
    padding-left: 1rem;
}
.description{
    display: flex;
}

form > h2{
    color: white;
    font-size: 3rem;
    margin: 1rem;
}

.event-themes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
    max-width: 60vw;
}
.event-themes input{
    border-radius: 0.5rem;
    border: none;
    width: 20rem;
    height: 3rem;
    padding: .3rem 0rem .3rem 1rem;
}

form > button{
    background-color: white;
    width: 20rem;
    align-self: center;
    color: #50798B;
    border:none;
    margin-top: 2rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    height: 5rem;
    justify-self: center;
}