#About {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem;
  background-color: transparent;
  height: 100vh;
}
#About h1 {
  padding-top: 3rem;
  text-align: center;
  color: white;
  font-size: 6rem;
  text-shadow: 0.1rem 0.2rem 0.5rem rgb(49, 49, 49);
  transform: translateX(-60vw);
}
#About .show {
  animation: scrollAnimation 2s ease forwards;
}
#About h3 {
  margin-top: 10rem;
  text-align: center;

  color: white;
  font-size: 2rem;
  width: 90rem;
  transform: translateX(-90vw);
}

@keyframes scrollAnimation {
  0% {
    filter: blur(5px);
  }
  /* 50% {
    filter: blur(10px);
  }
  75% {
    filter: blur(3px);
  } */
  100% {
    filter: none;
    transform: translateX(0rem);
  }
}